body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 32px;
}

header {
    background-color: lightblue;
    height: 50px;
    padding: 4px;
}

header h1 {
    vertical-align: top;
    color: midnightblue;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
}

.main_menu {
    padding: 5px 0 5px 0;
    border-right: 0;
    text-align: center;
    line-height: 32px;
    background-color: #818181;
    display: inline-block;
    width: 79%;
}

ul.main_menu {
    margin-top: 15px;
    margin-inline-end: 2px;
    margin-inline-start: 1px;
}

.main_menu li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;
}

.main_menu a {
    text-decoration: none;
    color: #fff;
    padding: 0px;
    font-variant: small-caps;
}

.main_menu a:hover {
    color: #59d5d8;
}

.about{
    width: 10%;
    display: inline-block;
}

.about a:hover {
    color: green;
}

.logout{
    width: 10%;
    display: inline-block;
    background-color: lightcoral;
}

.logout a:hover {
    color: red;
}