body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3
}

.buttonsDiv {
    height: 300px;
    width: 300px;
    border: 10px solid lightblue; 
    align-items: left;
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    
}

.connect4div {
    height: 600px;
    width: 600px;
    border: 10px solid lightblue;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.square {
    width: 60px;
    height: 60px;
    margin: 2px;
}

/*Select everything that starts with circle*/
div[class*='circle'] {
    background-color: white;
    border-radius: 30px;
    width:60px;
    height: 60px;
}

.boardTable {
    background-color: gray;
    overflow: hidden;
    border-radius: 4px;
}

.square:hover {
    background-color: royalblue !important;
}

.square, th {
  position: relative;
}

.square:hover::after{
  content: "";
  position: absolute;
  background-color: royalblue !important;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /* Sit on top of all*/
    padding-top: 100px; /* box location */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: rgba(0,0,0,0.4); 
}



.modal-content {
    background-color: whitesmoke;
    margin: auto;
    padding: 20px;
    border: 3px solid gray;
    border-radius: 3px;
    width: 80%;
   
}

.modal-content-profile{
    height:200px;
    width: 850px;
}

.profile-li {
    margin-bottom: 5px;
    margin-top:20px;
    margin-right: 50px;  
    display: inline-block;
}

.profile-text {
    width: 110px;
    display: inline-block;
    
}


/* The Close Button */
.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* x button on the modal*/
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.divButton {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}

.instructions {
    text-align: center;
}

.botPlayer {
    border-bottom: 1px solid black;
    width: 95%;
    margin-left:10px;
    margin-right: 10px;
    height: auto;
}

.pChoose {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.tableSelector {
    width: 100%;
    height: 85%;
}

.submitSelector {
    font-size: 15px;
    line-height: 18px;
    float:right;
    margin-right: 15px;
    display:block;

}

.submitProfile {
    font-size: 25px;
    line-height: 18px;
    float:right;
    margin-right: 15px;
    display:block;
    margin-bottom: 80px;
    margin-right:50px;
   
}